<!-- ########## START: MAIN PANEL ########## -->
<!-- carousel -->
<div style="margin-top: 70px;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid">
        <img  class="d-block slide-img" src="/assets/img/bannere.jpg" alt="First slide">
      </div>

    </div>
    <div class="carousel-item">
      <div class="container-fluid" >
        <img  class="d-block slide-img" src="/assets/img/banere2.jpg" alt="Second slide">
      </div>

    </div>
    <div class="carousel-item">
      <div class="container-fluid" >
        <img  class="d-block slide-img" src="/assets/img/Nike-Header-min.jpg" alt="Third slide">
      </div>

    </div>
  </div>
</div>
<!-- end carousel  -->
<div class="card pd-30 shadow-base bd-0 mg-t-20 mg-l-15 mg-r-15">
  <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
    <div class="mg-b-20 mg-lg-b-0">
      <h4 class="tx-normal tx-roboto tx-inverse mg-b-5">Chuẩn bị cho ngày tựu trường - Giảm tới 35%</h4>
      <p class="tx-13 mg-b-0">Chỉ áp dụng cho một số chi nhánh. <a href=""
          class="tx-primary">Thông tin thêm</a></p>
    </div>
    <a href="" class="btn btn-info btn-oblong pd-x-25 tx-11 tx-uppercase pd-y-12 tx-mont tx-semibold">Mua Ngay <i
        class="fa fa-angle-right mg-l-10"></i></a>
  </div><!-- row -->
</div>


<div class="br-pagebody">

  <div class="row row-sm mg-t-20">

    <div style="height: 400px; padding-right: 30px;" class="col-lg-4 mg-t-20 mg-lg-t-0">
      <div class="card bd-0 bg-transparent ht-100p">
        <img src="/assets/img/nike-woman.jpg" class="img-fit-cover rounded" alt="">
        <div class="overlay-body bg-black-5 rounded"></div>
        <div class="pos-absolute b-0 x-0 tx-center pd-30">
          <h3 class="tx-white tx-light tx-shadow">Nữ</h3>
          <p class="tx-13 tx-white-8 mg-b-25">Êm ái, gọn chân cho cảm giác đi nhẹ như bay.</p>
          <a href="" class="btn btn-warning btn-oblong tx-11 pd-y-12 tx-uppercase d-block tx-semibold tx-mont">Mua Ngay</a>
        </div><!-- overlay-body -->
      </div>
    </div><!-- col-3 -->
    <div style="height: 400px;padding: 0 20px;" class="col-lg-4 mg-t-20 mg-lg-t-0">
      <div class="card bd-0 bg-transparent ht-100p">
        <img src="/assets/img/mens-running.jpg" class="img-fit-cover rounded" alt="">
        <div class="overlay-body bg-black-5 rounded"></div>
        <div class="pos-absolute b-0 x-0 tx-center pd-30">
          <h3 class="tx-white tx-light tx-shadow">Nam</h3>
          <p class="tx-13 tx-white-8 mg-b-25">Bộ sưu tập đầy ấn tượng, thể thao năng động dành cho phái mạnh.</p>
          <a href="" class="btn btn-warning btn-oblong tx-11 pd-y-12 tx-uppercase d-block tx-semibold tx-mont">Mua Ngay</a>
        </div>
      </div>
    </div><!-- col-3 -->
    <div style="height: 400px;padding: 0 20px;" class="col-lg-4 mg-t-20 mg-lg-t-0">
      <div class="card bd-0 bg-transparent ht-100p">
        <img src="/assets/img/nike-kids.jpg" class="img-fit-cover rounded" alt="">
        <div class="overlay-body bg-black-5 rounded"></div>
        <div class="pos-absolute b-0 x-0 tx-center pd-30">
          <h3 class="tx-white tx-light tx-shadow">Trẻ em</h3>
          <p class="tx-13 tx-white-8 mg-b-25">Màu sắc bắt mắt, ôm gọn chân, chống được nước.</p>
          <a href="" class="btn btn-warning btn-oblong tx-11 pd-y-12 tx-uppercase d-block tx-semibold tx-mont">Mua Ngay</a>
        </div>
      </div>
    </div><!-- col-3 -->
  </div>
    <p class="title">{{'Top sản phẩn HOT'}}</p>
    <p class="content">{{'Những sản phẩm thời trang mới nhất /Hot nhất'}}</p>
  <div class="row text-center">
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes1.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes2.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes3.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes4.jpg" alt="hinh"/></div></div>
  </div>

  <div class="row text-center">
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes5.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes6.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes7.jpg" alt="hinh"/></div></div>
    <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes8.jpg" alt="hinh"/></div></div>
  </div>

    <p class="title">{{'Các chương trình Khuyến mãi'}}</p>
    <p class="content">{{'Đừng bỏ lỡ các chương trình khuyến mãi Hot tại RunTogether.vn'}}</p>

    <div class="row text-center">
      <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes1.jpg" alt="hinh"/></div></div>
      <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes2.jpg" alt="hinh"/></div></div>
      <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes3.jpg" alt="hinh"/></div></div>
      <div class="col-md-3"><div class="square"><img src="./assets/img/home/home-shoes4.jpg" alt="hinh"/></div></div>
    </div>
</div><!-- br-pagebody -->



<!-- modal login  -->
<div id="modaldemo3" class="modal fade" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-header pd-x-20">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Message Preview</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-20">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Tên đăng nhập</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Nhập tên đăng nhập">
            <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không chia sẻ thông tin</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="NHập mật khẩu">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Nhớ tài khoản</label>
          </div>

        </form>
      </div><!-- modal-body -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary tx-size-xs">Đăng nhập</button>
        <button type="button" class="btn btn-secondary tx-size-xs" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div><!-- modal-dialog -->
</div>
<!-- end login  -->
