<h4>Danh sách đơn đặt hàng</h4>
<div class="br-section-wrapper" >
  <div class="row d-flex align-items-center justify-content-center mg-b-20">
    <div class="col-6">
      <input class="form-control pd-y-12" type="text" placeholder="Nhập mã đơn hàng...">
    </div>
    <div class="col-6">
      <select class="form-control select2" data-placeholder="-Trạng thái đơn hàng-">
        <option value="''" selected>-Trạng thái đơn hàng-</option>
        <option value="Firefox">Đang xử lý</option>
        <option value="Chrome">Đang giao</option>
        <option value="Safari">Thành công</option>
        <option value="Safari">Đã hủy</option>
      </select>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center mg-b-20" >
    <div class="col-6">
      <select class="form-control select2" data-placeholder="-Phương thức thanh toán-">
        <option value="''" selected>-Phương thức thanh toán-</option>
        <option value="Firefox">Tiền mặt</option>
        <option value="Chrome">Internet Banking</option>
      </select>
    </div>
    <div class="col-6">
      <select class="form-control select2" data-placeholder="-Hình thức giao-">
        <option value="''" selected>-Hình thức giao-</option>
        <option value="Firefox">Tiêu chuẩn</option>
        <option value="Chrome">Giao trong 2h</option>
      </select>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center mg-b-20">
    <a href="" class="btn btn-primary  btn-with-icon mg-t-10 wd-200">
      <div class="ht-40 " >
        <span class="wd-60"><i class="fa fa-search"></i></span>
        <span class="">Tìm kiếm</span>
      </div>
    </a>
  </div>
  <div class="bd bd-gray-300 rounded table-responsive">
    <table class="table table-hover mg-b-0">
      <thead>
        <tr>
          <th>STT</th>
          <th style="min-width: 120px">Mã đặt hàng</th>
          <th>Ngày đặt hàng</th>
          <th style="min-width: 150px">Tên khách hàng</th>
          <th style="min-width: 140px">Ghi chú</th>
          <th style="min-width: 140px">Địa chỉ giao hàng</th>
          <th style="min-width: 100px">Email</th>
          <th style="min-width: 100px">Số điện thoại</th>
          <th style="min-width: 120px">Hình thức giao</th>
          <th style="min-width: 120px">Phương thức thanh toán</th>
          <th style="min-width: 120px">Trạng thái đơn hàng</th>
          <th style="min-width: 100px">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of this.pagingResult?.results; index as i">
          <td>{{this.pagingResult?.pageSize * (this.pagingResult?.currentPage - 1) + (i + 1)}}</td>
          <td><a [routerLink]="[ order.id]">{{ order.code }}</a></td>
          <td>{{order.orderDate | date:'yyyy/MM/dd hh:mm'}}</td>
          <td>{{order.shipName}}</td>
          <td>{{order.note}}</td>
          <td>{{order.shipAddress}}</td>
          <td>{{order.shipEmail}}</td>
          <td>{{order.shipPhone}}</td>
          <td>{{order.deliveryTypeStr}}</td>
          <td>{{order.paymentTypeStr}}</td>
          <td>{{order.statusStr}}</td>
          <td>
            <a href="javascript:void(0)"  class="btn-primary btn-icon" title="Sửa">
              <div><i class="fa fa-pencil"></i></div>
            </a>
            <a href="#" class="btn-danger btn-icon" title="Xóa" style="margin-left: 5px;">
              <div><i class="fa fa-trash"></i></div>
            </a>
          </td>
        </tr>
        <tr *ngIf="!this.pagingResult || this.pagingResult?.results?.length == 0">
          <td colspan="11">Không có dữ liệu</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-paging (getPage)="getList($event)" [pageCount]="this.pagingResult?.pageCount"
        [currentPage]="this.pagingResult?.currentPage"></app-paging>

