<h4>Tạo mới</h4>
<div class="br-section-wrapper">
  <div class="col-md-12 mg-t-20 mg-xl-t-0">
    <form [formGroup]="formDetail" autocomplete="off" *ngIf="formDetail">
      <div class="form-layout form-layout-5">
        <div class="row">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Mã khuyến mãi:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input disabled type="text" class="form-control" placeholder="Nhập mã khuyến mãi" formControlName="code">
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Tên khuyến mãi:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input type="text" class="form-control" placeholder="Nhập tên khuyến mãi" formControlName="name">
          </div>
        </div>
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Mô tả:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input type="text" class="form-control" placeholder="Nhập mô tả" formControlName="description">
          </div>
        </div>
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Loại khuyến mãi:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <label class="rdiobox">
              <input name="promotionTypeId" type="radio" [value]=1 formControlName="promotionTypeId">
              <span>Phần trăm</span>
            </label>
            <label class="rdiobox">
              <input name="promotionTypeId" type="radio" [value]=2 formControlName="promotionTypeId">
              <span>Giảm tiền</span>
            </label>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Trị giá:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nhập giá trị" formControlName="value">
              <div class="input-group-append">
                <span class="input-group-text">{{ promotionTypeIdCtrl.value == 1 ? '%' : 'vnd' }}</span>
              </div>
            </div>
            <!-- <input type="text" class="form-control" placeholder="Nhập giá trị" formControlName="value"> -->
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Ngày bắt đầu:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker formControlName="startTime">
            <!-- <input type="text" id="startDate" class="form-control datepicker hasDatepicker" placeholder="DD/MM/YYYY"> -->
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Ngày kết thúc:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker formControlName="endTime">
            <!-- <input type="text" class="form-control fc-datepicker" placeholder="DD/MM/YYYY"> -->
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span>Áp dụng cho toàn bộ sản
            phẩm:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <div class="br-toggle br-toggle-rounded br-toggle-primary" [ngClass]="canApplyForAllCtrl.value == true ? 'on' : 'off'" (click)="onSwitchControl('canApplyForAll', canApplyForAllCtrl.value)">
              <div class="br-toggle-switch"></div>
            </div>
          </div>
        </div><!-- row -->
        <div class="row mg-t-20">
          <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Vô hiệu:</label>
          <div class="col-sm-8 mg-t-10 mg-sm-t-0">
            <div class="br-toggle br-toggle-rounded br-toggle-primary" [ngClass]="isDisableCtrl.value == true ? 'on' : 'off'" (click)="onSwitchControl('isDisable', isDisableCtrl.value)">
              <div class="br-toggle-switch"></div>
            </div>
          </div>
        </div><!-- row -->

        <div class="row mg-t-30">
          <div class="col-sm-8 mg-l-auto">
            <div class="form-layout-footer">
              <button class="btn btn-secondary" routerLink="/admin/dashboard/promotion">Quay về</button>
              <button (click)="save()" class="btn btn-info">Hoàn tất</button>
            </div><!-- form-layout-footer -->
          </div><!-- col-8 -->
        </div>
      </div><!-- form-layout -->
    </form>
  </div>
</div>
