  <!-- ########## START: LEFT PANEL ########## -->
  <div class="br-logo"><a href=""><span>[</span><i>Admin</i><span>]</span></a></div>
  <app-sidebar></app-sidebar>
  <!-- ########## END: LEFT PANEL ########## -->
  <app-header></app-header>
  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel" style="padding-left: 210px;padding-top: 20px;">
    <div class="br-pagebody">
      <router-outlet></router-outlet>
      <!-- start you own content here -->
    </div><!-- br-pagebody -->

  </div><!-- br-mainpanel -->
  <!-- ########## END: MAIN PANEL ########## -->



<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
