<h4>Chương trình khuyến mãi</h4>
<div class="br-section-wrapper">
  <div class="row d-flex align-items-center justify-content-center mg-b-20">
    <div class="col-6">
      <input class="form-control pd-y-12" type="text" placeholder="Nhập mã hoặc tên khuyến mại">
    </div>
    <div class="col-6">
      <select class="form-control select2" data-placeholder="-Loại khuyến mãi-">
        <option value=null selected>-Chọn loại KM-</option>
        <option value="1">Phần trăm</option>
        <option value="2">Giảm tiền</option>
      </select>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center mg-b-20">
    <a href="" class="btn btn-primary  btn-with-icon mg-t-10 wd-200">
      <div class="ht-40 ">
        <span class="wd-60"><i class="fa fa-search"></i></span>
        <span class="">Tìm kiếm</span>
      </div>
    </a>
  </div>
  <div class="row d-flex align-items-center justify-content-end mg-b-20">
    <a routerLink="create" class="btn btn-primary  btn-with-icon mg-t-10 wd-200">
      <div class="ht-40 ">
        <span class="wd-60"><i class="fa fa-search"></i></span>
        <span class="">Thêm mới</span>
      </div>
    </a>
  </div>
  <div class="bd bd-gray-300 rounded table-responsive">
    <table class="table table-hover mg-b-0">
      <thead>
        <tr>
          <th>STT</th>
          <th style="min-width: 120px">Mã khuyến mãi</th>
          <th>Tên khuyến mãi</th>
          <th style="min-width: 150px">Mô tả</th>
          <th style="min-width: 140px">Loại khuyến mãi</th>
          <th style="min-width: 105px">Trị giá</th>
          <th style="min-width: 100px">Ngày bắt đầu</th>
          <th style="min-width: 100px">Ngày kết thúc</th>
          <th style="min-width: 120px">Áp dụng cho toàn bộ SP</th>
          <th style="min-width: 120px">Vô hiệu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promotion of this.pagingResult?.results; index as i">
          <td>{{this.pagingResult?.pageSize * (this.pagingResult?.currentPage - 1) + (i + 1)}}</td>
          <td><a [routerLink]="[ promotion.id]">{{ promotion.code}}</a></td>
          <td>{{promotion.name}}</td>
          <td>{{promotion.description}}</td>
          <td>{{promotion.promotionTypeName}}</td>
          <!-- <td>{{promotion.value}}</td> -->

          <td [ngSwitch]="promotion.promotionTypeId" class="text-right">
            <!-- the same view can be shown in more than one case -->
            <span *ngSwitchCase="1">{{ promotion.value + '%' }}</span>
            <span *ngSwitchCase="2">{{ promotion.value | currency:"VND":"symbol" }}</span>
          </td>


          <td>{{promotion.startTime | date: 'dd/MM/yyyy'}}</td>
          <td>{{promotion.endTime | date: 'dd/MM/yyyy'}}</td>
          <td>
            <div class="br-toggle br-toggle-rounded br-toggle-primary"
              [ngClass]="promotion.canApplyForAll == true ? 'on' : 'off'">
              <div class="br-toggle-switch"></div>
            </div>
            <!-- {{promotion.canApplyForAll}} -->
          </td>
          <td>
            <div class="br-toggle br-toggle-rounded br-toggle-primary"
              [ngClass]="promotion.isDisable == true ? 'on' : 'off'">
              <div class="br-toggle-switch"></div>
            </div>
            <!-- {{promotion.isDisable}}</td> -->
        </tr>
        <tr *ngIf="!this.pagingResult || this.pagingResult?.results?.length == 0">
          <td colspan="11">Không có dữ liệu</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-paging (getPage)="getList($event)" [pageCount]="this.pagingResult?.pageCount"
  [currentPage]="this.pagingResult?.currentPage"></app-paging>
