<h4>Doanh thu tuần vừa qua</h4>
<div class="br-section-wrapper" >
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="400" height="120"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors1"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

<h4>Thống kê lượng đơn đặt hàng</h4>
<div class="br-section-wrapper" >
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="400" height="120"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors2"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

<h4>Top các sản phẩm bán chạy</h4>
<div class="br-section-wrapper" >
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="400" height="120"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors3"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

