<h4>Chi tiết khuyến mãi</h4>
<div class="br-section-wrapper" >
  <div class="col-md-12 mg-t-20 mg-xl-t-0">
    <div class="form-layout form-layout-5">
      <div class="row">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Mã đặt hàng:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <input type="text" class="form-control" placeholder="Enter firstname">
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Ngày đặt hàng:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <input type="text" class="form-control" placeholder="Enter lastname">
        </div>
      </div>
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Tên khách hàng:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <input type="text" class="form-control" placeholder="Enter email address">
        </div>
      </div>
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Ghi chú:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Địa chỉ giao hàng:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Email:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Số điện thoại:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Hình thức giao:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Phương thức thanh toán:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-20">
        <label class="col-sm-4 form-control-label"><span class="tx-danger">*</span> Trạng thái đơn hàng:</label>
        <div class="col-sm-8 mg-t-10 mg-sm-t-0">
          <textarea rows="2" class="form-control" placeholder="Enter your address"></textarea>
        </div>
      </div><!-- row -->
      <div class="row mg-t-30">
        <div class="col-sm-8 mg-l-auto">
          <div class="form-layout-footer">
            <button class="btn btn-secondary">Quay về</button>
            <button [routerLink]="['edit']" class="btn btn-info">Chỉnh sửa</button>
          </div><!-- form-layout-footer -->
        </div><!-- col-8 -->
      </div>
    </div><!-- form-layout -->
  </div>
</div>

