<div class="br-section-wrapper" style="margin-top: 100px;margin-right: 80px;margin-left: 70px;
height: 921px;
margin-bottom: 40px;">

  <div class="form-layout form-layout-1">
    <form [formGroup]="frmSignup" (ngSubmit)="submit()">
      <div style="color: skyblue;margin-bottom: 20px;font-size: 20px;">
        <b>Đăng ký tài khoản</b>
      </div>
    <div class="row mg-b-25">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Họ và tên: <span class="tx-danger">*</span></label>
          <input formControlName="fullName" class="form-control" type="text" name="fullName" placeholder="Nhập họ tên...">
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Số điện thoại: <span class="tx-danger">*</span></label>
          <input formControlName="phone" class="form-control" type="text" placeholder="Nhập số điện thoại...">
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-control-label">Địa chỉ email: <span class="tx-danger">*</span></label>
          <input class="form-control" type="text" name="email" formControlName="email" placeholder="Nhập email...">
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-8">
        <div class="form-group mg-b-10-force">
          <label class="form-control-label">Địa chỉ nhà: <span class="tx-danger">*</span></label>
          <input class="form-control" type="text" name="address" formControlName="address" placeholder="Nhập địa chỉ...">
        </div>
      </div><!-- col-8 -->
      <div class="col-lg-4">
        <div class="form-group mg-b-10-force">
          <label class="form-control-label">Thành phố: <span class="tx-danger">*</span></label>
          <select class="form-control select2" formControlName="city" data-placeholder="Choose Browser">
            <option value="HCM">Hồ Chí Minh</option>
            <option value="HN">Hà Nội</option>
            <option value="DN">Đà Nẵng</option>
            <option value="HP">Hải Phòng</option>
          </select>
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-12">
        <div class="row">
          <div class="form-group col-lg-4">
            <label class="form-control-label">Tên đăng nhập: <span class="tx-danger">*</span></label>
            <input class="form-control" type="text" autocomplete="off" formControlName="username" placeholder="Nhập tên đăng nhập...">
          </div>
        </div>
      </div><!-- col-12 -->
      <div class="col-lg-12">
        <div class="row">
          <div class="form-group col-lg-4">
            <label class="form-control-label">Mật khẩu: <span class="tx-danger">*</span></label>
            <input id="password" formControlName="password" type="password" class="form-control"
            [ngClass]="frmSignup.controls['password'].invalid && frmSignup.controls['password'].touched ? 'is-invalid' : ''">
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
              Cần ít nhất 8 kí tự
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
              Cần ít nhất 1 chữ số
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
              Cần ít nhất 1 chữ in hoa
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
              Cần ít nhất 1 chữ thường
            </label>
            <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
              Cần ít nhất 1 kí tự đặc biệt
            </label>

          </div>
        </div>
      </div><!-- col-12 -->
      <div class="col-lg-12">
        <div class="row">
          <div class="form-group col-lg-4">
            <label class="form-control-label">Nhập lại mật khẩu: <span class="tx-danger">*</span></label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
              [ngClass]="frmSignup.controls['confirmPassword'].invalid && frmSignup.controls['confirmPassword'].touched && frmSignup.controls['confirmPassword'].value ? 'is-invalid' : ''">
              <!-- <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                Yêu cầu xác thực mật khẩu
              </label> -->


              <!-- <label class="col" [ngClass]="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch') && frmSignup.controls['confirmPassword'].hasError('required')? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch') && frmSignup.controls['confirmPassword'].hasError('required') ? 'cancel' :
                  'check_circle' }}</i>
                  Yêu cầu xác thực mật khẩu
              </label> -->
              <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch') && frmSignup.controls['confirmPassword'].touched && frmSignup.controls['confirmPassword'].value">
                Mật khẩu không khớp
              </label>
          </div>
        </div>
      </div><!-- col-12 -->

    </div><!-- row -->
  </form>
    <div class="form-layout-footer text-right">
      <button (click)="submit()" class="btn btn-info">Đăng ký ngay</button>
    </div><!-- form-layout-footer -->
  </div>
</div>
