.mine{
}
.inner-mine{
  height:700px;
}

ngx-gallery  /deep/ .ngx-gallery-arrow {
  color: #17A2B8;
}

ngx-gallery  /deep/ .ngx-gallery-arrow-wrapper {
  z-index: 1000 !important;
}

.rating-star {
  display: inline-block;
  width: 100%;
}

.rating-img img{
  width: 120px;
  height: 120px;
}
.comment-score {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
.total-comment {
  font-size: 14px;
  color: rgb(120, 120, 120);
}
.comment-title {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}
 .star {
  display: inline-block;
  width: 28%;
 }
 .process-star {
  display: inline-block;
  width: 67%;
  margin-top: 4px;
 }

 .satisfy-rating {
  display: inline-block;
  width: 67%;
  margin-top: 4px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(36, 36, 36);
 }

 .comment-of-star {
  display: inline-block;
  width: 5%;
 }

 .progress {
   height: 7px !important;
 }

 .br-section-wrapper {
  margin-left: 40px;
  margin-right: 40px;
 }

 .line {
  border-bottom: 1px solid rgb(204 200 200 / 57%);
  margin-bottom: 15px;
  padding-bottom: 35px;
 }
.user-img {
  width: 20%;
}

.user-img > img {
  width: 70px;
}
.user {
  width: 80%;
  padding-left: 15px;
}
.user-container-col-1 {
  display: inline-flex;
}

.user-container-col-2 {
  /* display: inline-flex; */
}

.user-container-col-2 > .rating-star > .star{
  width: 110px;
}
.comment {
  font-size: 14px;
  color: rgb(36, 36, 36);
}
.comment-img img {
  width: 152px;
  height: 152px;
}
.comment-date {
  font-size: 14px;
  line-height: 16px;
  color: rgb(120, 120, 120);
}
.all-img {
  font-size: 17px;
  font-weight: 500;
}
.progress-bar {
  background-color: rgb(120, 120, 120) !important;
}

.buy-number {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.buy-number > input {
  flex-basis: 20%;
  margin-left: 10px;
  margin-right: 10px;
}

.buy-number > label {
  flex-basis: 110px;
  flex-shrink: 0;
}


.buy-size {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.buy-size > label {
  flex-basis: 110px;
  flex-shrink: 0;
}

.buy-decide {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.line-through {
  -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through;
}
