<div class="br-sideleft sideleft-scrollbar ps ps--active-y">
  <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
  <ul class="br-sideleft-menu">
    <li class="br-menu-item">
      <a href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-tachometer tx-20"></i>
        <span class="menu-item-label pd-l-10">Dashboard</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a [routerLink]="['product']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-cubes tx-20"></i>
        <span class="menu-item-label pd-l-10">Quản lý sản phẩm</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a [routerLink]="['promotion']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-gavel tx-20"></i>
        <span class="menu-item-label pd-l-10">Chương trình khuyến mãi</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->

    <li class="br-menu-item">
      <a [routerLink]="['customer-list']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-address-book  tx-20"></i>
        <span class="menu-item-label pd-l-10">Quản lý khách hàng</span>
      </a><!-- br-menu-link -->
    </li>
    <li class="br-menu-item">
      <a [routerLink]="['revenue-list']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-line-chart tx-20"></i>
        <span class="menu-item-label pd-l-10">Quản lý doanh thu</span>
      </a><!-- br-menu-link -->
    </li>
    <li class="br-menu-item">
      <a [routerLink]="['order-list']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-clipboard tx-20" ></i>
        <span class="menu-item-label pd-l-10">Quản lý đơn đặt hàng</span>
      </a><!-- br-menu-link -->
    </li>
    <li class="br-menu-item">
        <a [routerLink]="['employee-list']" href="javascript:void(0)" class="br-menu-link">
        <!-- <i class="menu-item-icon icon ion-ios-body tx-20"></i> -->
        <i class="menu-item-icon icon fa fa-user tx-20" aria-hidden="true"></i>
        <span class="menu-item-label pd-l-10">Quản lý nhân viên</span>
      </a><!-- br-menu-link -->
    </li>
    <li class="br-menu-item">
      <a [routerLink]="['warehouse-list']" href="javascript:void(0)" class="br-menu-link">
        <i class="menu-item-icon icon fa fa-home tx-20"></i>
        <span class="menu-item-label pd-l-10">Kho</span>
      </a><!-- br-menu-link -->
    </li>
  </ul><!-- br-sideleft-menu -->


  <br>
<div class="ps__rail-x" style="left: 0px; top: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 565px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 356px;"></div></div></div><!-- br-sideleft -->
